<div class="col-md-8 col-xs-12">
  <% unless @exercises.empty? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Duration (min) </th>
        <th>Workout Details</th>
        <th>Activity date</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @exercises.each do |exercises| %>
      <tr>
          <td><%= exercises.duration_in_min %></td>
          <td><%= truncate(exercises.workout, length: 100) %></td>
          <td><%= exercises.workout_date %></td>
          <td><%= link_to 'Show', [current_user, exercises] %></td>
          <td><%= link_to 'Edit', [:edit, current_user, exercises],
          method: :delete, data: { confirm: "Are you Sure?"} %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <br>
    <% else %>
    <div class="alert alert-danger message-font text-center" role="alert">
      No Workouts Yet
    </div>
    <br>
    <% end %>

    <%= link_to "New Workout", new_user_exercise_path(current_user), 
    class: "btn btn-success" %>
</div>
