   <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "My Workout", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
       <li class="active"><%= link_to "Home", root_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <% unless user_signed_in? %>
        /<li><%= link_to "Sign up", new_user_registration_path %></li>
        /<li><%= link_to "Sign in", new_user_session_path %></li>
        <% else %>
        /<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <div class="navbar-right">
          <p class="navbar-text">
            Signed in as <%= "#{current_user.email}" %>
          </p>
        </div>
        <% end %>
      </ul>
    </div>
</nav>
<header>
