<!DOCTYPE html>
<html>
  <head>
    <title>MyWorkout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">My Workout</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
       <li class="active"><%= link_to "Home", root_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        /<li><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
  </div>
</nav>
<header>

    <div class="row">
      <div class="col-md-12">
        <% flash.each do |key, message| %>
         <div class="text-center alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
            <%= message %>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
